<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vuejs-2.6.6.js"></script>
</head>
<body>
    <div id="app">
        用户名：<input type="text" v-model="user.username">
        密码：<input type="text" v-model="user.password">
        <input type="button" @click="fun" value="提交">
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            user:{
                username:"lina",
                password:"qihao"
            }
        },methods:{
            fun : function () {
                this.user.username="wang";
                this.user.password="su";
            }
        }
    })
</script>
</html>